<div class="col-md-12 " style="">
	<div class="row" style="">
	<header >
		 <div class="col-lg-12">           
                    <div ng-include="'views\\home\\carousel.html'"></div>
                </div>
	</div>

	<div class="row" style="margin-top: 20px">
		<div ng-controller="PanelListCtrl" class="col-md-5"
			style="border: 20px">
			<uib-tabset> <uib-tab heading="Login">
			<div ng-include="'views\\home\\login.html'"></div>
			</uib-tab> <uib-tab heading="Sign up">
			<div ng-include="'views\\home\\register.html'"></div>
			</uib-tab> </uib-tabset>
		</div>



		<div class="col-md-7">


			<h2>What We Do</h2>
			<p>Situated in Pune, the People's Sports Club provides
				a combination of natural beauty with a warm and friendly atmosphere
				for you and your family.</p>
			<br>
			<p>The club's large recreational facility offers something for
				everyone. Rent a basketball court with your friends for hours of fun
				and play. Experience our state of the art indoor hockey rink, or
				challenge your skills at the People's Driving Range and Mini Golf
				Center. Expand your child's summer fun at our safe and well
				supervised Day Camp.</p>
			<br>
			<p>With the increase in materialism and the need for excellence,
				the people around the world now look forward for world class
				products, services, facilities and hospitality. Rapidly changing
				life styles, particularly in the Metros, have increased the
				consciousness about health, mental peace and spirituality amongst
				the urban population. People now look forward and spend time for
				achieving the aforesaid objectives and engage themselves in sports
				and leisure activities more than ever.</p>
			<br>
			<p>At Peoples Sports Club, an effort has been made to provide
				world class facilities and infrastructure for the promotion of
				sports and health.</p>
			<br> <br>

		</div>
	</div>

	<div class="row" style="padding-left: 100px; width: 95%">

		<div class="row">
			<div class="col-sm-4">
				<img class="img-circle img-responsive img-center"
					src="images/indoor.jpg" alt="">
				<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Indoor Fun</h2>
				<p>Indoor facilities are where we excel. We offer indoor games facilities like TableTennis, Billiards, Health Club and Squash</p>
			</div>
			<div class="col-sm-4">
				<img class="img-circle img-responsive img-center"
					src="images/outdoor.jpg" alt="">
				<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Outdoor Fun</h2>
				<p>Outdoor games have always been our forte. Our outdoor facilities include
				swimming,lawn tennis,cricket and many more</p>
			</div>
			<div class="col-sm-4">
				<img class="img-circle img-responsive img-center"
					src="images/leisure.jpg" alt="">
				<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Leisure Activities</h2>
				<p>Leisure facilities provide you great places to hold meetings and parties. These include Restaurents and Banquet halls</p>
			</div>
		</div>

	</div>


	<div class="row">
		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">
					First featurette heading. <span class="text-muted">It'll
						blow your mind.</span>
				</h2>
				<p>Donec ullamcorper nulla non metus auctor
					fringilla. Vestibulum id ligula porta felis euismod semper.
					Praesent commodo cursus magna, vel scelerisque nisl consectetur.
					Fusce dapibus, tellus ac cursus commodo.</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive center-block"
					style="width: 341px; height: 200px" src="images/r1.jpg"
					alt="Generic placeholder image">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7 col-md-push-5">
				<h2 class="featurette-heading">
					Oh yeah, it's that good. <span class="text-muted">See for
						yourself.</span>
				</h2>
				<p>Donec ullamcorper nulla non metus auctor
					fringilla. Vestibulum id ligula porta felis euismod semper.
					Praesent commodo cursus magna, vel scelerisque nisl consectetur.
					Fusce dapibus, tellus ac cursus commodo.</p>
			</div>
			<div class="col-md-5 col-md-pull-7">
				<img class="featurette-image img-responsive center-block"
					style="width: 341px; height: 200px" src="images/r2.jpg"
					alt="Generic placeholder image">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">
					And lastly, this one. <span class="text-muted">Checkmate.</span>
				</h2>
				<p>Donec ullamcorper nulla non metus auctor
					fringilla. Vestibulum id ligula porta felis euismod semper.
					Praesent commodo cursus magna, vel scelerisque nisl consectetur.
					Fusce dapibus, tellus ac cursus commodo.</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive center-block"
					style="width: 341px; height: 200px" src="images/r3.jpg"
					alt="Generic placeholder image">
			</div>
		</div>

		<hr class="featurette-divider">


	</div>

</div>
