<div ng-controller="LogoutCtrl">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
			</button>
			<a class="navbar-brand" href="#"></a>
			<span><img src="images/logo.png"
				class="logo" height=60px width=60px> <img src="images/name5.png"
				class="logo" height=50px></span>
		</div>
		
			
			<div class="collapse navbar-collapse pull-right"
				ng-if="profile()">Hi!!! 
				<button type="button" ng-click="loginCheck()"  class="btn btn-primary btn-lg">Logout</button>
			</div>
		
	</div>
</nav>

</div>