<div class="row" style="margin-top: 30px; height: 510px"
	ng-controller="TabsDemoCtrl">
	<div class="col-md-3">
		<div>

			<ul class="list-group" ng-show="checkSecretary('userType')">
				<li class="list-group-item"><a ui-sref="viewDetails">View
						Personal Details</a></li>
				<li class="list-group-item"><a>Update Personal Details</a></li>
				<li class="list-group-item"><span class="badge">14</span>New
					Registration Requests</li>
				<li class="list-group-item"><span class="badge">14</span>New
					Membership Requests</li>
			</ul>
			<ul class="list-group" ng-show="checkUser('userType')">
				<li class="list-group-item">View Personal Details</li>
				<li class="list-group-item"><a>Update Personal Details</a></li>
				<li class="list-group-item"><span class="badge">14</span>New
					Reserve Facilities</li>
				<li class="list-group-item"><span class="badge">14</span>New
					Renew Membership</li>
			</ul>
		</div>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div ui-view></div>
		</div>
	</div>
</div>
