<div class="row" style="margin-top: 30px;height:510px">
    <div class="col-md-12">
        <div ng-controller="TabsDemoCtrl">
            <uib-tabset vertical="true" type="pills">
                <uib-tab heading="View Personal Details"> sdsfsdf</uib-tab>
                <uib-tab heading="Update Personal Details"></uib-tab>
                <uib-tab heading="New Registration Requests"> <span class="badge">2</span></uib-tab>
                <uib-tab heading="New Membership Requests"></uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
