<div class="panel  panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Add AddOns</h3>
	</div>
	

	
	<form class="panel-body" ng-controller="AddOnsCtrl" name="myRegistration"  ng-submit="add()"  novalidate>
		<table class="table table-hover">

			<tbody>
				 <tr>
					<td><label class="col-sm-5">First Name : </label></td>
					<td><input type="text" class="form-control" id="firstName"
						ng-model="name" placeholder="First Name" required></td>
				</tr>

				<tr>
					<td><label class="col-sm-7">Date Of Birth :</label></td>
					<td><input type="date" class="form-control" ng-model="dob"
						name="dob" required /></td>
				</tr>
				
				<tr>
				<td><label class="col-sm-6">Relation with Added Member:</label></td>
				
				<td>Spouse
							 <input
									type="radio" ng-model="tempOption" name="temp"
									value="spouse"></td>
							

				
						
							<td>Son
							<td> <input
									type="radio" ng-model="tempOption" name="temp"
									value="son">
							</td>

						

						
							<td>Daughter
							<td><input
									type="radio" ng-model="tempOption" name="temp"
									value="daughter">
							</td>

						

				</tr>
			
		

			</tbody>
				
		</table>
	


		<!-- Button (Double) -->
		<div class="form-group" style="margin-top: 10px;">
			<div class="col-md-8">
				<button id="button1id"  name="button1id" type="reset"
					class="btn btn-success" ng-disabled="myRegistration.name.$pristine||myRegistration.dob.$pristine">Save</button>
				<button type="reset" id="button2id" name="button2id"
					class="btn btn-danger">Cancel</button>
			</div>
		</div>
			</form>
	</div>
</div>