<div class="panel  panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Allocate Budget for Pepole's Club</h3>
	</div>
	<div class="panel-body" ng-controller="viewCtrl" name="treasurer">
		<table class="table ">

			<tbody>
			<tr>
				<td> <label class="col-sm-5" >Indoor</label></td>
				<td> <label class="col-sm-5" >Outdoor</label></td>
				<td> <label class="col-sm-5" >Leisure</label></td>
			</tr>
				<tr>
					<td> <input type="number" ng-pattern="/[0-9]/" class="form-control" id="indoor" ng-model="indoor">
						<span style="color: red" ng-show="treasurer.indoor.$dirty && treasurer.indoor.$invalid">
						<span ng-show="treasurer.indoor.$error.pattern">Only digits are allowed </span>
						</span>
					</td>
					<td>  <input type="number"  ng-pattern="/[0-9]/"class="form-control" id="outdoor"></td>
					<td>   <input type="number" ng-pattern="/[0-9]/" class="form-control" id="leisure"></td>
				</tr>
				<tr>
					<td>  <button id="button2id"  name="button2id" ng-click="cancle()" class="btn btn-success">Allocate</button></td>
					<td> <button id="button2id"  name="button2id"  ng-click="cancle()" class="btn btn-success">Allocate</button></td>
					<td> <button id="button2id"  name="button2id" ng-click="cancle()" class="btn btn-success">Allocate</button></td>
				</tr>
				</tbody>
				</table>
	</div>
</div>