<div class="panel  panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Membership renewal</h3>
	</div>
	<div class="panel-body" ng-controller="RenewalCtrl">
		<div class="jumbotron">
			<table class="table table-hover">

				<tbody>
					<tr ng-show="permanent()">
						<td><h4>
								Do you want to become permanent member???
								<h4></td>
					<td><button class="btn btn-primary btn-md""
							ng-click="checkPermanent()">Apply</button></td>
					</tr>
					<tr>
						<td><h4>
								Apply to renew membership???
								<h4></td>
						<td><button class="btn btn-primary btn-md" 
							ng-click="checkTemporary()">Apply</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>