<div class="panel  panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Membership renewal</h3>
	</div>
	<div class="panel-body" ng-controller="viewCtrl">
		<div class="jumbotron">
			<table class="table table-hover">

				<tbody>
					<tr>
						<td><h4>
								Do you want to become permanent member???
								<h4></td>
						<td><a class="btn btn-primary btn-md" role="button"
							ng-click="checkPermanent()">Apply</a></td>
					</tr>
					<tr>
						<td><h4>
								Apply to renew temporary membership???
								<h4></td>
						<td><a class="btn btn-primary btn-md" role="button"
							ng-click="checkTemporary()">Apply</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>