<div class="panel  panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">View Billing Details</h3>
	</div>
	<div class="panel-body" ng-controller="viewBillingDetailsCtrl">
		<table class="table table-hover">
			<tbody>
			
			
			<tr>
					<th>Category</th>
					<th>Type</th>
					<th>Fees</th>
				</tr>
				<tr>
					<td>Sports Club</td>
					<td>Entrance fees</td>
					<td>$1000</td>
				</tr>
				
				<tr ng-repeat="facility in viewBillingDetails" class="facility">                

                           <td>{{ facility.category }}</td>
                           <td>{{ facility.type }}</td>
                           <td>${{ facility.price }}</td>                     
                </tr>				
			</tbody>
		</table>
	</div>
</div>

