<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">View Personal Details</h3>
	</div>
	<div class="panel-body" ng-controller="viewCtrl">
		<ul>
			<li>First Name-{{ personalDetails.firstName }}</li>
			<li>Last name-{{ personalDetails.lastName }}</li>
			<li>Email ID-{{ personalDetails.emailId }}</li>
			<li>DOB-{{ personalDetails.dateOfBirth }}</li>
			<li>Mobile No-{{ personalDetails.mobileNumber}}</li>
			<li>Occupation-{{ personalDetails.occupation}}</li>
		</ul>

	</div>
</div>