<div class="panel  panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">View Personal Details</h3>
	</div>
	<div class="panel-body" ng-controller="viewCtrl">
		<table class="table table-hover">

			<tbody>
				<tr>
					<td>First Name</td>
					<td>{{ viewDetails.firstName }}</td>
				</tr>
				<tr>
					<td>Last name</td>
					<td>{{ viewDetails.lastName }}</td>
				</tr>
				<tr>
					<td>Email ID</td>
					<td>{{ viewDetails.emailId }}</td>
				</tr>
				<tr>
					<td>DOB</td>
					<td>{{ viewDetails.dateOfBirth | date : 'dd/MM/yyyy' }}</td>
				</tr>
				<tr>
					<td>Mobile No</td>
					<td>{{ viewDetails.mobileNumber}}</td>
				</tr>
				<tr>
					<td>Occupation</td>
					<td>{{ viewDetails.occupation}}</td>
				</tr>
				<tr>
					<td>Registered Date</td>
					<td>{{ viewDetails.registeredDate | date :  'dd/MM/yyyy'}}</td>
				</tr>
				
				
				<td>Facilities</td>
		    <td ng-repeat="facility in facilityDetails" class="facility">{{ facility.type }}</td>
			
			</tbody>
		</table>
	</div>
</div>