<div id="aboutUsbox" style="margin-top: 30px">

	<div class="panel panel-info">
		<div class="col-md-6">
			<di class="panel panel-default"> <!-- Heading  start  here-->
			<div class="panel-heading">
				<h3>
					About Us
					<h3>
			</div>

			<!-- Heading  ends  here--> <!-- Body star  here-->
			<div class="panel-body">

				<p class="text-info">
					Every dream needs to be driven by passion to make it come
					true.Sport club is one such dream, formed by keeping sheer passion
					for all indoor and outdoor games.The Sports Club gets its
					flamboyant and elegant design in the heart of city from the
					renowned architect.<br> With the increase in materialism and
					the need for excellence, the people around the world now look
					forward for world class products, services, facilities and
					hospitality. Rapidly changing life styles, particularly in the
					Metros, have increased the consciousness about health, mental peace
					and spirituality amongst the urban population. People now look
					forward and spend time for achieving the aforesaid objectives and
					engage themselves in sports and leisure activities morethan ever.<br>

					At Sports Club, an effort has been made to provide world class
					facilities and infrastructure for the promotion of sports and
					health.Which includes the Facilities of a Club, which are Indoor
					Sports, Outdoor Sports, and Leisure Centre.
				</p>

				<blockquote>
					<p>Join us to enjoy our world class services</p>
					<small>by <cite>Sport club</cite></small>
				</blockquote>



			</div>

			<!-- Body end  here-->
		</div>
	</div>
</div>
</div>
