
<div id="aboutUsbox" style="margin-top: 30px">
	<div class="panel panel-info">


		<div class="col-md-6">
			<di class="panel panel-default"> <!-- Heading  start  here-->
			<div class="panel-heading">
				<h3>
					Contact Us
					<h3>
			</div>

			<!-- Heading  end   here--> <!-- Body start  here-->


			<div class="panel-body">

				<h5>
					<big>Club Address</big>
				</h5>
				<p>Sports Club Dempo House, Near Fun Park,Baner, Pune,(MH),
					India. 403001</p>
				<p>
					<span class="glyphicon glyphicon-phone-alt"></span> &nbsp&nbsp +91
					832 2441111
				</p>
				<p>
					<span class="glyphicon  glyphicon-envelope  "></span>&nbsp&nbsp
					help.desk@sportsclub.com
				</p>





				<table class="table">
					<thead>
						<tr>
							<th>Name of Department</th>
							<th><span class="glyphicon glyphicon-phone-alt"></span></th>
							<th><span class="glyphicon glyphicon-envelope"></th>
						</tr>
					</thead>
					<tbody>
						<tr class="active">
							<td>Indoor Sports</td>
							<td>+91 832 2441444</td>
							<td>indoor.sports@sportsclub.com</td>
						</tr>
						<tr class="success">
							<td>Outdoor Sports</td>
							<td>+91 832 2441555</td>
							<td>outdoor.sports@sportsclub.com</td>
						</tr>
						<tr class="info">
							<td>Leisure Centre</td>
							<td>+91 832 2441777</td>
							<td>leisurecentre.sports@sportsclub.com</td>
						</tr>

						</tr>
					</tbody>
				</table>



				<blockquote>
					<p>Get in touch</p>
					<small>by <cite>Sport club</cite></small>
				</blockquote>

			</div>
			<!-- Body end  here-->
		</div>
	</div>
</div>
</div>
</div>

